@import url('https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap');

*{
    box-sizing: border-box;
    margin:0;
}

body{
    background-color: #7bdaf3;
    font-family: "Poppins", "sans-serif";
    overflow: hidden;
    height: 100vh;
    margin: 0;
}

.counter{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.counter.hide{
    transform: translate(-50%, -50%) scale(0);
    animation:hide 0.2s ease-out; 
}

.final{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
}

.final.show{
    transform: translate(-50%, -50%) scale(1);
    animation:show 0.2s ease-out; 
}


/* Animations */
@keyframes hide{
    0%{
        transform:translate(-50%, -50%) scale(1);
    }
    100%{
        transform:translate(-50%, -50%) scale(0);
    }
}

@keyframes show{
    0%{
        transform:translate(-50%, -50%) scale(0);
    }
    30%{
        transform:translate(-50%, -50%) scale(1.4);
    }
    100%{
        transform:translate(-50%, -50%) scale(1);
    }
}
